
.details {
    aspect-ratio: 2 / 1;
    border-style: solid;
    border-width: 1px;
    border-color: var(--glassoptic-color);
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    margin: 10px;
    padding: 5px;
    display: flex;
}

.list {
    display: flex;
    flex-direction: column;
    order: 1;
    width:63%;
    height: 90%;
    border-radius: 10px;
    border-style: solid;
    border-color: transparent;
    margin: 10px 10px 0px 10px;
    overflow: scroll;
    scrollbar-width: none;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
}

#musicList {
    text-align: start;
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: calc(100% - 10px);
    margin: 0!important;
}

#musicList i {
    padding: 2px;
    position: relative;
    top: 3.5px;
}

#musicList a {
    color: var(--glassoptic-color);
    width: -webkit-fill-available;
    width: -moz-available;
    width: fill-available;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

li {
    color: var(--ghost-white);
    border-style: solid;
    border-color: var(--glassoptic-color);
    border-radius: 2px;
    margin: 3px 0px;
    padding-top: 5px;
    display: flex;
}

li i {
    height: 18px;
}

li i:nth-of-type(2):hover {
    opacity: 0.6;
    cursor: pointer;
}

.selector {
    width: 100%;
    height: 100%;
    color: transparent;
    align-content: center;
    background: var(--glassoptic-color);
    border-radius: 5px;

    position: relative;
}

.btnlabel {
    display: inline-block;
    width: calc(100% - 20px);
    height: 94%;
    align-content: center;
    cursor: pointer;
    border-radius: 8px;
    border-style: outset;
    border-color: var(--ghost-white);
    background-color: var(--glassoptic-color);
    font-size: 20px;
    color: rgba(255, 255, 255, 0.76);
}

#btn {
    position: absolute;
    z-index: -1;
    top:10px;
    left: 8px;
    color: #b8b8b8;
    visibility: hidden;
}

.active {
    display: flex;
    order: 2;
    flex-direction: column;
    align-items: center;
    width: 30%;
    height: 90%;
    border-radius: 10px;
    border-style: solid;
    border-color: var(--yqni13-pink);
    margin: 10px 10px 0px auto;
    text-align: -webkit-center;
    text-align: -moz-center;
    text-align: center;
    position: relative;
}

#thumbnail {
    width: var(--detail-width);
    aspect-ratio: 1 / 1;
    margin-top: 10px;
    background-image: url("../assets/images/happy-music.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    border: solid var(--glassoptic-color) 1px;
    border-radius: 2px;
}

.title {
    color: var(--ghost-white);
    width: var(--detail-width);
    border: solid var(--glassoptic-color) 1px;
    border-radius: 2px;
    height: auto;
    margin-top: 5%;
    padding: 5px 0px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;

    span {
        font-size: 1.2vw;
    }
}

.title .songTitle {
    white-space: nowrap;
    max-width: none;
    animation: songTitle 10s linear infinite;
}

/* infinite repeat of song title in details area */
@keyframes songTitle {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}

.song-data {
    display: inline-block;
    width: var(--detail-width);
    margin-top: 5px;

    span {
        font-size: 1vw;
    }
}

.time {
    color: var(--ghost-white);
    font-size: 9px;
}

#playing-time {
    float: left;
}

#duration-time {
    float: right;
}

.clear {
    visibility: hidden;
    position: absolute;
    bottom: 5px;
    width: 100%;
    &:hover {
        opacity: 0.6;
        cursor: pointer;
    }

    i {
        position: relative;
        top: 5px;
        font-size: 24px;
    }

    a {
        font-size: 1.5vw;
    }
}

.clearLabel {
    color: var(--ghost-white);
    font-size:14px;
}
