
.list {
    width:63%;
    height: 90%;
    border-radius: 2px;
    border-style: solid;
    border-color: red;
    margin: 10px 10px 0px 10px;
    overflow: scroll;
    scrollbar-width: none;

    text-align: -webkit-center;
}

.selector {
    width: 98%;
    height: 98%;

    color: transparent;
    align-content: center;
    text-align: end;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 5px;
}

.active {
    width: 30%;
    height: 90%;
    border-radius: 2px;
    border-style: solid;
    border-color: yellow;
    margin: 10px 10px 0px 10px;
    text-align: -webkit-center;
}

.thumbnail {
    width: 53%;
    height: 35%;
    margin-top: 15%;
    background-image: url("../assets/not_available.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.7;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
}

.title {
    color: white;
    width: 53%;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    height: auto;
    margin-top: 5%;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    overflow: hidden;
}

.title .songTitle {
    white-space: nowrap;
    max-width: none;
    animation: songTitle 10s linear infinite;
}

/* infinite repeat of song title in details area */
@keyframes songTitle {
    0% {
        transform: translate(0,0);
    }
    100% {
        transform: translate(-100%, 0);
    }
}