i {
    font-style: normal;
    color:var(--btn-color);
}

.icon-Pause:before {
    font-family: "Material Icons";
    content:  "\e034";
}
.icon-Play:before {
    font-family: "Material Icons";
    content:  "\e037";
}
.icon-SkipNext:before {
    font-family: "Material Icons";
    content:  "\e044";
}
.icon-SkipPrevious:before {
    font-family: "Material Icons";
    content:  "\e045";
}
.icon-Repeat:before {
    font-family: "Material Icons";
    content:  "\e040";
}
.icon-Shuffle:before {
    font-family: "Material Icons";
    content:  "\e043";
}
.icon-VolumeOn:before {
    font-family: "Material Icons";
    content:  "\e050";
}
.icon-VolumeOff:before {
    font-family: "Material Icons";
    content:  "\e04f";
}
.icon-RemoveSong:before {
    font-family: "Material Icons";
    content:  "\e872";
}
.icon-ClearList:before {
    font-family: "Material Icons";
    content:  "\e5cd";
}