/* remove default styling from sliders */

.tools {
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    border: solid var(--glassoptic-color) 1px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin: 10px;
    padding: 10px;
    font-size: 24px;
}

#tools-inactive {
    position: absolute;
    bottom: 10px;
    left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    background-color: transparent;
    padding: 30px;
    width: -webkit-fill-available;
    z-index: 101;
}

input[type="range"] {
    -webkit-appearance: none;
    vertical-align: super;
    background-color: transparent;
}

input[type="range"]:focus {
    outline: none;
}

/* add new styling to sliders */

input[type="range"]::-webkit-slider-runnable-track {
    background: var(--slider-range-color);
    height: 4px;
}

input[type="range"]::-moz-range-track {
    background: var(--slider-range-color);
    height: 4px;
}

input[type="range"]::-moz-range-track-progress {
    background: yellow;
    height: 4px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 12px;
    width: 7.5px;
    background: var(--slider-btn-color);
    margin-top: -4px;
    border-radius: 3px;
    opacity: 0.85;
    cursor: pointer;
}

input[type="range"]::-moz-range-thumb {
    height: 12px;
    width: 7.5px;
    background: var(--slider-btn-color);
    margin-top: -4px;
    border-radius: 3px;
    opacity: 0.85;
    cursor:pointer;
}

.slider {
    position: relative;
    bottom: 5px;
}


/* slider styling end. */

#progress {
    width: 100%;
}

.wrapper-tools-basic {
    display: flex;
}

.wrapper-tools-progress {
    display: flex;
    flex-grow: 100;
    padding: 0 5px;
}

.wrapper-tools-volume {
    display: flex;
    width: 125px;
    margin: 0 5px 0 auto;
}


#volume {
    width: 100%;
}

.tools i {
    position: relative;
    bottom: 2px;
}

.tools i:hover {
    opacity: 0.6;
    cursor: pointer;
}

i.mode:hover {
    opacity: 1!important;
    cursor:default;
}
i.normal:hover {
    opacity: 0.6!important;
}